joblib==1.1.0
matplotlib==3.5.0
streamlit==1.39.0
pandas==1.4.0
numpy==1.22.0
scikit-learn==1.0.2
pillow==8.4.0
watchdog==2.1.6
seaborn==0.11.2
plotly==5.5.0
setuptools==65.5.1
setuptools>=65.5.1
pip>=24.2

